<div class="context">
    <div class="card title">
        <div class="container" fxLayout="row" fxLayoutAlign="center center">
            <h4>{{ data[0].category }}:&nbsp;</h4>
            <p>{{ data[0].question }}</p>
        </div>
    </div>
</div>

<button click="errorBG = !errorBG">{{errorBG}}</button>

<div class="area" [ngClass]="{'error': errorBG, 'color': !errorBG}">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
