<!-- <button (click)="errorBG = !errorBG">CLICK</button> -->

<div class="context" fxLayout="row" fxLayoutAlign="center stretch">
    <div class="title" fxLayout="row" fxLayoutAlign="center center">
        <div class="container">
            <span>{{ data[0].category }}:&nbsp;</span>
            <span>{{ data[0].question }}</span>
        </div>
    </div>
    
    <div class="button">
        <a><span>Upload Now</span></a>
    </div>
</div>

<div class="background" [ngClass]="{ error: errorBG, color: !errorBG }">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
